@import "../../../styles/mixins";

.home-companies {
  padding-top: 80px;
  padding-bottom: 80px;

  .image-text-holder {
    .image-holder {
      height: 387px;
      max-width: 696px;
      margin-right: auto;
      background: var(--black);
      border-radius: 8px;

      background-image: url("https://images.unsplash.com/photo-1532635241-17e820acc59f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
      background-size: cover;

      @include mobile {
        margin-right: 4px;
        margin-left: 4px;
      }
    }
    .text-holder {
      padding: 72px 53px;
      width: 100%;
      max-width: 635px;
      background: #fff;
      box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      line-height: 2.22;
      margin-left: auto;
      margin-top: -229px;

      @include mobile {
        padding: 40px 16px;
        margin-top: -74px;
      }
    }
  }
  .company-logos {
    margin-top: 80px;
    box-shadow: 0px 10px 25px rgba(151, 143, 175, 0.08);
    border-radius: 8px;
    padding: 28px 30px;
    background: #fff;

    @include mobile {
      display: block;
      padding: 40px 16px;
    }

    .text {
      width: fit-content;
      margin-right: 134px;

      @include mobile {
        margin-right: 0;
        margin-bottom: 34px;
      }
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .logos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;

      @include mobile {
        flex-wrap: wrap;
        padding: 0 8px;
      }

      svg,
      img {
        height: 37px;
        filter: grayscale(1);

        @include mobile {
          margin-bottom: 46px;

          &[data-no-margin] {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
