@import "../../../styles/mixins";

.home-values {
  padding-top: 136px;
  padding-bottom: 136px;
  background: var(--black);
  color: #fff;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;

    @include mobile {
      grid-template-columns: 1fr;
    }

    p {
      color: #f8f8f8;
    }

    .heading {
      p {
        line-height: 1.78;
        margin-top: 32px;
      }
    }
    .value {
      padding: 48px;
      padding-bottom: 67px;
      background: rgba(255, 255, 255, 0.03);

      @include mobile {
        padding: 30px;
        padding-bottom: 67px;
      }

      img,
      svg {
        margin-bottom: 40px;
        mix-blend-mode: lighten;
        color: #f8f8f8;
      }
      h3 {
        font-weight: 500;
      }
      p {
        font-size: 14px;
        line-height: 1.81;
        margin-top: 24px;
        max-width: 257px;
      }
    }
  }
}
