@import "../../../styles/mixins";

.base-hero {
  padding-top: 198px;
  padding-bottom: 118px;
  padding-right: 20px;
  position: relative;
  padding-left: 20px;

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--black);
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(
        to top,
        rgba(35, 35, 64, 0.56) 0%,
        rgba(0, 0, 0, 0.9) 100%
      ),
      url("https://images.unsplash.com/photo-1573164574572-cb89e39749b4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
  }

  .heading {
    color: #fff;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    h1,
    p {
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 1.4;
      font-size: 40px;

      @include mobile {
        font-size: 24px;
        max-width: 274px;
      }
    }
    p {
      line-height: 1.78;
      max-width: 652px;

      @include mobile {
        max-width: unset;
      }
    }
  }
}
