@import "../../../styles/mixins";

.contact-hero {
  padding-bottom: 200px;
}
.contact__form {
  max-width: 1072px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px;
  border-radius: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  background: #fff;
  box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.05);

  margin-top: -125px;

  @include mobile {
    display: flex;
    flex-direction: column-reverse;
    background: transparent;
    box-shadow: none;
    padding: 0;
  }

  form {
    padding: 56px;

    @include mobile {
      background: #fff;
      padding: 56px 16px;
      border-radius: 16px;
      box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.05);
    }
  }

  textarea {
    height: 137px;
  }

  ._left {
    background: var(--black);
    background-image: url("../../../assets/svg/contact-bg.svg");
    background-size: cover;
    background-position: bottom right;
    border-radius: 24px;
    color: #fff;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mobile {
      padding: 40px 20px;
      margin-top: 80px;
    }

    ._top {
      @include mobile {
        margin-bottom: 100px;
      }
      h4 {
        font-size: 24px;
        margin-bottom: 16px;
        max-width: 342px;
        font-weight: 500;

        @include mobile {
          max-width: 200px;
          line-height: 1.5;
        }
      }
      .description {
        line-height: 1.5;
        font-size: 16px;
        max-width: 342px;
        margin-bottom: 49px;
      }
    }
    ._bottom {
      a {
        margin-right: 32px;

        @include mobile {
          display: inline-block;
          margin-bottom: 30px;
        }
      }
    }
    .contact-details {
      margin-bottom: 32px;

      .icon {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.06);
        border-radius: 8px;
      }
      .text {
      }
    }
  }
  .base-input {
    margin-bottom: 32px;
  }
}
